
<main>
    <section class="profile">
     


<div class="body-content outer-top-xs">
	<div class="container">
		<div class="row ">
			<div class="shopping-cart">
				<div class="shopping-cart-table ">
					
						
	
						<%  if( messages.incorect_old_password){   %>
							<div class="w3-panel w3-red">
								<h3>FAIL!</h3>
								<p><%= messages.incorect_old_password %></p>
							  </div>
						<% } %>
	<div class="table-responsive">	
        <form class="forgot_password">
		<table class="table">
			<thead>
				
			</thead><!-- /thead -->
			<tfoot>
				<tr>
					<td colspan="7">
						<div class="shopping-cart-btn">
							<span class="">
								<a href="/" class="btn btn-upper btn-primary outer-left-xs">Continue Shopping</a>
								<button type="submit"  class="btn btn-upper btn-primary pull-right outer-right-xs">Save</button>
							</span>
						</div><!-- /.shopping-cart-btn -->
					</td>
				</tr>
			</tfoot>
		

				
		<tbody>
				
                <tr>
					<td class="cart-product-sub-total " ><span class="cart-sub-total-price"> Enter your username: </span></td>
					<td class="cart-product-sub-total"><span class="cart-sub-total-price"> <input type="text" name="username"  required> </span></td>
				</tr>
				<tr>
					<td class="cart-product-sub-total " ><span class="cart-sub-total-price"> Enter your email: </span></td>
					<td class="cart-product-sub-total"><span class="cart-sub-total-price"> <input type="text" name="email"  required> </span></td>
				</tr>
            </tbody><!-- /tbody -->    
      
			
		</table><!-- /table -->      
        
            </form>
	</div>




    </section>

    <!-- Add more sections for additional content -->

</main>



